@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
    font-family: 'Montserrat', sans-serif;
} 
html, body {
    overflow-x: hidden;
    scroll-behavior: smooth;
}
.navbar {
    background: #7f5af0;
}
.navbar .nav-link {
    font-size: 20px;
    font-weight: 700;
    font-family: "Poppins", sans-serif;
    color: rgb(204, 204, 204);
}
.navbar .nav-link:hover {
    color: #2cb67d;
}
.navbar .nav-link.active {
    color: rgb(252, 141, 141);
}
.navbar-toggler{
    color: red;
}
.navbar-toggler-icon {
    color: rgb(204, 204, 204);
    padding-top: 15%;
    font-size: 23px;
}
span {
    color: #fffffe;
    font-weight: 900;
    font-size: 30px;
}
.home {
    /* background: rgb(103,174,202);
    background: linear-gradient(90deg, rgba(103,174,202,0.45) 20%, rgba(103,86,130,0.45) 85%), url(../images/home.jpg); */
    background: #16161a;
    background-size: cover;
    align-items: center;
    text-align: center;
    color: white;
    border-bottom: 1px solid lightgray;
}
.welcome-text {
    margin: 200px 0px 250px 0px;
}
.welcome-text h1{
    color: #fffffe;
    font-size: 150px;
    font-weight: 900;
}
.welcome-text p{
    color: #94a1b2;
    font-size: 20px;
}
.buttons {
    margin-top: 3%;
}
.button-link {
    border: 2px solid cyan;
    background: -webkit-linear-gradient(#394ae225, #37ddb454);
    border-radius: 10%;
    padding: 10px 20px;
    color: white;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    text-decoration: none;
}
.button-link:hover {
    background-color: rgb(33, 172, 165);
    transition: .4s;
    color: white;
}
/* About Us Area */
.card-about {
    box-shadow: 0 0 30px rgba(0,0,0,0.5);
    overflow: hidden;
    border-radius: 5px;
    width: 100%;
}
.img1 img{
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    width: 100%;
}
.card-about:hover .img1 img{
    transform: scale(1.005);
    transition: .4s;
}
.card-about {
    background: #fffffe;
    margin: 0px 0px 50px 0px;
    padding-bottom: 25px;
    border: 2px solid #7f5af0;
}
.main-text{
    border-bottom: 1px solid #72757e;
}
.main-text h1{
    color: #fffffe;
    font-size: 40px;
    font-weight: 900;
    margin: 60px 0px 60px 8px;
    text-transform: uppercase;
    text-align: center;
}
.main-text h2{
    font-size: 40px;
    font-weight: 900;
    text-transform: uppercase;
    color: #16161a;
    margin-left: 5px;
}
.main-text h6 {
    font-size: 15px;
    margin-left: 10px;
    color: #72757e;
}
.main-text .description {
    color: #16161a;
    font-size: 17px;
    text-align: center;
}
.main-text i {
    color: #72757e;
    font-size: 15px;
    margin-left: 10px;
}
.name {
    color: #72757e;
    font-size: 15px;
    font-weight: 500;
    margin-left: 10px;
    text-decoration: underline;
}
.recent-main-text p {
    color: #72757e;
    font-size: 10px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 3; 
}
.recent-socials a {
    text-decoration: none;
    color: #fffffe;
    padding: 8px 15px 8px 15px;
    background: #7f5af0;
    border-radius: 5px;
    font-weight: 500;
    margin: 15px 0px 0px 0px;
}
.recent-socials  {
    margin: 10px 0px 0px 0px;
}
.recent-socials a:hover {
    background: #72757e;
    color: #fffffe;
}
.recent-socials:hover {
    transform: scale(1.01);
    transition: 0.3s;
}
/* RECENT POST */
.socials a {
    text-decoration: none;
    color: #fffffe;
    padding: 8px 15px 8px 15px;
    background: #7f5af0;
    border-radius: 5px;
    font-weight: 500;
}
.recent-main-text .recent-date-time h6{
    color: #16161a;
    font-size: 10px;
}

.recent-img1 img{
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    width: 100%;
    height: 100%;
}
.recent-main-text h1{
    color: #fffffe;
    font-size: 40px;
    font-weight: 900;
    margin: 60px 0px 60px 8px;
    text-transform: uppercase;
    text-align: center;
}
.recent-main-text h2{
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2; 
    font-size: 15px;
    font-weight: 900;
    text-transform: uppercase;
    color: #16161a;
    margin: 5px 0px 0px 0px;
}
.recent-main-text h6 {
    font-size: 12px;
    color: #fffffe;
}
.recent-main-text i {
    color: #72757e;
    font-size: 10px;
}
.recent-name {
    color: #72757e;
    font-size: 10px;
    font-weight: 500;
    margin: 0px 0px 0px 10px;
    text-decoration: underline;
}
.recent-main-text p {
    color: #16161a;
    font-size: 10px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 3; 
}
.recents {
    margin: 50px 0px 150px 0px;
}

.related h1{
    text-align: center;
    text-transform: uppercase;
    font-weight: 900;
}

.main-text span {
    text-decoration: none;
}
.main-text i {
    text-decoration: none;
}

.main-text a {
    text-decoration: none;
}

.main-text span:hover {
    color: #7f5af0;
}

.main-text i:hover {
    color: #7f5af0;
}

.recent-main-text a {
    text-decoration: none;
}

.recent-main-text span {
    text-decoration: none;
}

.recent-main-text h2:hover {
    color: #7f5af0;
}

.recent-main-text span:hover {
    color: #7f5af0;
}

.recent-main-text i:hover {
    color: #7f5af0;
}
/* Footer */
.footer {
    border-top: 1px solid lightgray;
    padding: 20px 0px 20px 0px;
    text-align: center;
}

/* REACTION AREA */
.reaction-container {
    margin: 0px 0px 10px 0px;
    text-align: end;
}
.emoji {
    font-size: 30px;  
    cursor: pointer;
}

.post-actions {
    border-bottom: 1px solid #72757e;
    padding-bottom: 15px;
}
.reaction-btn {
    font-size: 16px;
    font-weight: 900;
    border: none;
    width: 100%;
    background: none;
}
.comment-btn {
    font-size: 16px;
    font-weight: 900;
    border: none;
    width: 100%;
    background: none;
}
.share-btn {
    font-size: 16px;
    font-weight: 900;
    border: none;
    width: 100%;
    background: none;
}

.reaction-btn i, .comment-btn i, .share-btn i {
    font-weight: 900;
    font-size: 17px;
}
.comments {
    border: 1px solid #72757e;
    border-radius: 5px;
}
.comments input{
    margin: 5px 5px 5px 5px;
    width: 100%;
    border: none;
}
.comments button{
    margin: 5px 5px 5px 5px;
    display: flex;
    justify-content: center;
    font-size: 25px;
}
.display button {
    margin: 5px 5px 5px 5px;
    width: 100%;
    border: none;
    background: none;
}
input:focus {
    outline: none;
}
.content {
    font-size: 16px;
}
.result .comment-result {
    margin: 10px 0px 0px 0px;
}
/* REACTION AREA */

@media screen and (max-width: 470px) {
    .emoji {
        font-size: 25px;  
    }
    .content {
        font-size: 15px;
    }
    .reaction-btn {
        font-size: 14px;
    }
    .comment-btn {
        font-size: 14px;
    }
    .share-btn {
        font-size: 14px;
    }
    
    .reaction-btn i, .comment-btn i, .share-btn i {
        font-size: 15px;
    }
}

@media screen and (max-width: 430px) {
    .emoji {
        font-size: 22px;  
    }
    .content {
        font-size: 14px;
    }
    .reaction-btn {
        font-size: 13px;
    }
    .comment-btn {
        font-size: 13px;
    }
    .share-btn {
        font-size: 13px;
    }
    
    .reaction-btn i, .comment-btn i, .share-btn i {
        font-size: 14px;
    }
}

@media screen and (max-width: 410px) {
    .emoji {
        font-size: 19px;  
    }
    .content {
        font-size: 13px;
    }
    .reaction-btn {
        font-size: 12px;
    }
    .comment-btn {
        font-size: 12px;
    }
    .share-btn {
        font-size: 12px;
    }
    
    .reaction-btn i, .comment-btn i, .share-btn i {
        font-size: 13px;
    }
}

@media screen and (max-width: 390px) {
    .emoji {
        font-size: 17px;  
    }
    .content {
        font-size: 12px;
    }
    .reaction-btn {
        font-size: 11px;
    }
    .comment-btn {
        font-size: 11px;
    }
    .share-btn {
        font-size: 11px;
    }
    
    .reaction-btn i, .comment-btn i, .share-btn i {
        font-size: 12px;
    }
}

@media screen and (max-width: 370px) {
    .emoji {
        font-size: 15px;  
    }
    .content {
        font-size: 11px;
    }
    .reaction-btn {
        font-size: 10.5px;
    }
    .comment-btn {
        font-size: 10.5px;
    }
    .share-btn {
        font-size: 10.5px;
    }
    
    .reaction-btn i, .comment-btn i, .share-btn i {
        font-size: 11.5px;
    }
}

@media screen and (max-width: 360px) {
    .emoji {
        font-size: 13px;  
    }
    .content {
        font-size: 10px;
    }
    .reaction-btn {
        font-size: 8.5px;
    }
    .comment-btn {
        font-size: 8.5px;
    }
    .share-btn {
        font-size: 8.5px;
    }
    
    .reaction-btn i, .comment-btn i, .share-btn i {
        font-size: 9.5px;
    }
}

@media screen and (max-width: 320px) {
    .emoji {
        font-size: 11px;  
    }
    .reaction-btn {
        font-size: 6.5px;
    }
    .comment-btn {
        font-size: 6.5px;
    }
    .share-btn {
        font-size: 6.5px;
    }
    
    .reaction-btn i, .comment-btn i, .share-btn i {
        font-size: 7.5px;
    }
}

@media screen and (max-width: 280px) {
    .reaction-btn {
        font-size: 5.5px;
    }
    .comment-btn {
        font-size: 5.5px;
    }
    .share-btn {
        font-size: 5.5px;
    }
    
    .reaction-btn i, .comment-btn i, .share-btn i {
        font-size: 6.5px;
    }
}
